body{
    background-color: #AD134B;
}

.h-300{
    height: 220px;
}

.box-calculator{
    height: 180px;
    box-shadow: 3px 3px 10px 0 black;
    border-radius: 10px;
}



button{
    margin-right: 20px;
}
