*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 50px auto;
    max-width: 1080px;
}


p{
    margin-bottom: 20px;
}

.box-calculator{
    margin-bottom: 20px;
}

.actions-bt{
    padding: 10px;
}

button{
    margin-right: 20px;
}
.box-ticket{
    margin-top: 20px;
}